.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



p {
  margin: 0;
  color: Ivory;
   font-size: 1.4rem;
}

h1 {
  color: PaleTurquoise;
  
}
 

 /* ////////////////////////NAV BAR /////////////////////////////*/

nav { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
 /* background: rgb(64, 127, 148); */
 background:black;
  color: Ivory;
}

.link { color: Ivory; }  
.link:hover { color: #ff5100; }  


.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-links :hover { color: #ff5100; }  
 /* /////////////////////////Images ////////////////////////////////*/
 .responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}




/* ///////////////////////CARDS///////////////////////////////// */
 
.Card {
  /* background: rgba(185, 122, 50, 0.808); */
  background: #FAEBD7;
  border-radius: 10px;
  
}
/* background: rgb(208, 255, 214); */

.Card__img {
  text-align: center;
}
.Card__img img {
  width: 15%;
  border: 10px solid #050505;
  border-radius: 4px;
  padding: 5px;
}
.Card__img img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



.Card__types {
  display: flex;
  justify-content: center;    
}

.Card__type {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: rgb(37, 63, 63);
  color: rgb(81, 255, 159);
}

.Card__name {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.7rem;
  font-weight: bold;
  color: rgb(81, 255, 159);
}

.Card__info {
  margin-left: 10px;
  
}

.Card__data {
  padding-bottom: 10px;
  
}

.Card__data .title {
  font-weight: 700;
  background: rgb(37, 63, 63);
  
}





/* /////////////////////////////////GRID/////////////////////////////////// */

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}





/* /////////////////////////////////BUTTON/////////////////////////////////// */

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
}

 
.btn button:hover { background: #ff5100; }  